{% load static %} 
<!DOCTYPE html>
<html lang="Fr">

<head>
    <title>ADOU AUTO</title>
    <link rel="icon" href="{% static 'assets/images/icon.png' %}" type="image/gif" sizes="16x16">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Rentaly - Multipurpose Vehicle Car Rental Website Template" name="description">
    <meta content="" name="keywords">
    <meta content="" name="author">
    <!-- CSS Files
    ================================================== -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" id="bootstrap">
    <link href="{% static 'assets/css/mdb.min.css' %}" rel="stylesheet" type="text/css" id="mdb">
    <link href="{% static 'assets/css/plugins.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/coloring.css' %}" rel="stylesheet" type="text/css">
    <!-- color scheme -->
    <link id="colors" href="{% static 'assets/css/colors/scheme-01.css' %}" rel="stylesheet" type="text/css">
</head>

<body onload="initialize()">
    <div id="wrapper">
        <!-- page de prechargement commence -->
        <div id="de-preloader"></div>
        <!-- page de prechargement  se termine -->
        
       

        <!-- header commence -->
        <header class="transparent scroll-light has-topbar">
            <div id="topbar" class="topbar-dark text-light">
                <div class="container">
                    <div class="topbar-left xs-hide">
                        <div class="topbar-widget">
                            <div class="topbar-widget"><i class="fa fa-phone"></i>+225 0703123456</div>
                            <div class="topbar-widget"><i class="fa fa-envelope"></i><span class="__cf_email__" data-cfemail="d8bbb7b6acb9bbac98aabdb6acb9b4a1f6bbb7b5">[adouauto@gmail.com]</span></div>
                            <div class="topbar-widget"><i class="fa fa-clock-o">Disponible en presentiel</i>Lun - Ven 08.00 - 18.00</div>
                        </div>
                    </div>
                
                    <div class="topbar-right">
                        <div class="social-icons">
                            <a href="index.html#"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="index.html#"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="index.html#"><i class="fa fa-youtube fa-lg"></i></a>
                            <a href="index.html#"><i class="fa fa-pinterest fa-lg"></i></a>
                            <a href="index.html#"><i class="fa fa-instagram fa-lg"></i></a>
                        </div>
                    </div>  
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            <div class="de-flex-col">
                                <div class="de-flex-col">
                                    <!-- logo begin -->
                                    <div id="logo">
                                        
                                            <img class="logo-1" src="{% static 'assets/images/logo-light4.PNG' %}" alt="">
                                            <img class="logo-2" src="{% static 'assets/images/logo-light4.PNG' %}" alt="">
                                
                                    </div>
                                    <!-- logo close -->
                                </div>
                            </div>
                           
                           
                        </div>
                    </div>
                </div>
            </div>
        </header>    

        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="jarallax text-light">
                <img src="{% static 'assets/images/background/subheader.jpg'%}" class="jarallax-img" alt="">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
									<h1>S'inscrire</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->
            

            <section aria-label="section">
                <div class="container">
					<div class="row">
						<div class="col-md-8 offset-md-2">
							<h3>Vous n'avez pas de compte ? Inscrivez-vous maintenant.</h3>
                            <p> Bienvenue chez ADOU AUTO. Nous sommes ravis de vous avoir à bord. En créant un compte chez nous, vous aurez accès à une gamme d'avantages et de fonctionnalités pratiques qui amélioreront votre expérience de location de voiture</p>
							
							{% if messages %}
                            <div id="message-container">
                                {% for message in messages %}
                                    <p class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %}">
                                        {{ message }}
                                    </p>
                                {% endfor %}
                            </div>
                          {% endif %}

                            
							
							<form name="contactForm" id='contact_form' class="form-border" method="post" action="{% url 'Appli:inscrire' %} ">
                              

                                {% csrf_token %}
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="field-set">
                                            <label>Nom:</label>
                                            <input type='text' name='first_name' id='first_name' class="form-control" 
                                                value="{{ values.first_name|default:'' }}">
                                            {% if field_errors.first_name %}
                                            <small class="text-danger">{{ field_errors.first_name }}</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="field-set">
                                            <label>Prénoms:</label>
                                            <input type='text' name='last_name' id='last_name' class="form-control"
                                                value="{{ values.last_name|default:'' }}">
                                            {% if field_errors.last_name %}
                                            <small class="text-danger">{{ field_errors.last_name }}</small>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="field-set">
                                            <label>Email:</label>
                                            <input type='text' name='email' id='email' class="form-control"
                                                value="{{ values.email|default:'' }}">
                                            {% if field_errors.email %}
                                            <small class="text-danger">{{ field_errors.email }}</small>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="field-set">
                                            <label>Nom d'utilisateur:</label>
                                            <input type='text' name='username' id='username' class="form-control"
                                                value="{{ values.username|default:'' }}">
                                            {% if field_errors.username %}
                                            <small class="text-danger">{{ field_errors.username }}</small>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="field-set">
                                            <label>Téléphone:</label>
                                            <input type='text' name='phone' id='phone' class="form-control"
                                                value="{{ values.telephone|default:'' }}">
                                            {% if field_errors.phone %}
                                            <small class="text-danger">{{ field_errors.phone }}</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="field-set">
                                            <label>Domicile:</label>
                                            <input type='text' name='domicile' id='domicile' class="form-control"
                                                value="{{ values.adresse|default:'' }}">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="field-set">
                                            <label>Mot de passe:</label>
                                            <input type='password' name='password' id='password' class="form-control">
                                            {% if field_errors.password %}
                                            <small class="text-danger">{{ field_errors.password }}</small>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="field-set">
                                            <label>Confirmer mot de passe:</label>
                                            <input type='password' name='password2' id='password2' class="form-control">
                                            {% if field_errors.password2 %}
                                            <small class="text-danger">{{ field_errors.password2 }}</small>
                                            {% endif %}
                                        </div>
                                    </div>

      


                                    <div class="col-md-12">

                                        <div id='submit' class="pull-left">
                                            <input type='submit' id='send_message' value='inscrivez-vous maintenant' class="btn-main color-2">
                                        </div>
                                       

                                        <div id='mail_success' class='success'>Votre inscription a été prise en compte avec succes.</div>
                                         {% if error %}
                                        <div style="color: red;" id='mail_fail' class='error'> {{ error }}</div>
                                        {% endif %}
                                        <div class="clearfix"></div>

                                    </div>
                                    <div>
                                            <p> Déjà inscrire?<a class="btn-main btn-fullwidth rounded-3" href="{% url 'Appli:connexion' %}">Connectez-vous</a></p>
                                    </div>

                                </div>
                            </form>
							
						</div>
                    </div>
				</div>
                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        const messageContainer = document.getElementById("message-container");
                        if (messageContainer) {
                            setTimeout(() => {
                                messageContainer.style.transition = "opacity 0.5s ease";
                                messageContainer.style.opacity = "0";
                                setTimeout(() => {
                                    messageContainer.remove();
                                }, 500);
                            }, 4000); // 4 secondes d'affichage
                        }
                    });
                </script>

            </section>
			
			
        </div>
        <!-- content close -->
           <footer class="text-light">
            <div class="container">
                <div class="row g-custom-x">
                    <div class="col-lg-3">
                        <div class="widget">
                            <h5>A propos de ADOU AUTO</h5>
                            <p>Là où la qualité rencontre l'abordabilité. Nous comprenons l’importance d’un voyage fluide et agréable sans le fardeau de coûts excessifs. C'est pourquoi nous avons méticuleusement élaboré nos offres pour vous fournir des véhicules haut de gamme à un coût minimum.</p>                        </div>
                    </div>
                    
                    <div class="col-lg-3">
                        <div class="widget">
                            <h5>Contact Info</h5>
                            <address class="s1">
                                <span><i class="id-color fa fa-map-marker fa-lg"></i>Abidjan, Yopougon</span>
                                <span><i class="id-color fa fa-phone fa-lg"></i>0759225434</span>
                                <span><i class="id-color fa fa-envelope-o fa-lg"></i>[adouauto@gmail.com]</span></span>
                            </address>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="widget">
                            <h5>Reseaux sociaux</h5>
                            <div class="social-icons">
                                <a href="index.html#"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="index.html#"><i class="fa fa-twitter fa-lg"></i></a>
                                <a href="index.html#"><i class="fa fa-linkedin fa-lg"></i></a>
                                <a href="index.html#"><i class="fa fa-pinterest fa-lg"></i></a>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="subfooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="de-flex">
                                <div class="de-flex-col">
                                    
                                        Copyright 2025 - Location par ADOU AUTO
                                
                                </div>
                                <ul class="menu-simple">
                                    <li>Termes &amp; Conditions</li>
                                    <li>Politique de confidentialité</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <a href="register.html#" id="back-to-top"></a>
        
      
        
    </div>

    <!-- Javascript Files
    ================================================== -->
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="{% static 'assets/js/plugins.js'%}"></script>
    <script src="{% static 'assets/js/designesia.js'%}"></script>
    