{% load static %}  
<!DOCTYPE html>
<html lang="Fr">

<head>
    <title>ADOU AUTO</title>
    <link rel="icon" href="{% static 'assets/images/icon.png' %}" type="image/gif" sizes="16x16">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Rentaly - Multipurpose Vehicle Car Rental Website Template" name="description">
    <meta content="" name="keywords">
    <meta content="" name="author">
    <!-- CSS Files
    ================================================== -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" id="bootstrap">
    <link href="{% static 'assets/css/mdb.min.css' %}" rel="stylesheet" type="text/css" id="mdb">
    <link href="{% static 'assets/css/plugins.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/coloring.css' %}" rel="stylesheet" type="text/css">
    <!-- color scheme -->
    <link id="colors" href="{% static 'assets/css/colors/scheme-01.css' %}" rel="stylesheet" type="text/css">
</head> 
<style>
    /* Pour le bouton de déconnexion */
.menu_side_area {
    display: flex;
    align-items: center;
}

#menu-btn {
    margin-left: 15px; /* Espace entre le bouton et l'icône du menu */
}

/* Sur mobile, le bouton reste visible */
@media (max-width: 768px) {
    .btn-main {
        padding: 8px 15px;
        font-size: 14px;
    }

    .menu_side_area {
        position: static; /* Empêche le chevauchement */
        margin-top: 10px;
    }
}
</style>

<body onload="initialize()">
    <div id="wrapper">
        <!-- page de prechargement commence -->
        <div id="de-preloader"></div>
        <!-- page de prechargement  se termine -->
        
       

        <!-- header commence -->
        <header class="transparent scroll-light has-topbar">
            {% for base in bases %}
            <div id="topbar" class="topbar-dark text-light">
                <div class="container">
                    
                    <div class="topbar-left xs-hide">
                        <div class="topbar-widget">
                            <div class="topbar-widget"><i class="fa fa-phone"></i>{{base.numero}}</div>
                            <div class="topbar-widget"><i class="fa fa-envelope"></i><span class="__cf_email__" data-cfemail="d8bbb7b6acb9bbac98aabdb6acb9b4a1f6bbb7b5">[{{base.email}}]</span></div>
                            <div class="topbar-widget"><i class="fa fa-clock-o">Disponible en presentiel</i>{{base.jour_ouverture}} - {{base.jour_fermeture}} {{base.heure_ouverture}} - {{base.heure_fermeture}}</div>
                        </div>
                    </div>
                
                    <div class="topbar-right">
                        <div class="social-icons">
                            <a href="index.html#"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="index.html#"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="index.html#"><i class="fa fa-youtube fa-lg"></i></a>
                            <a href="index.html#"><i class="fa fa-pinterest fa-lg"></i></a>
                            <a href="index.html#"><i class="fa fa-instagram fa-lg"></i></a>
                        </div>
                    </div>  
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            <div class="de-flex-col">
                                <div class="de-flex-col">
                                    <!-- logo begin -->
                                    <div id="logo">
                                        
                                            <img class="logo-1" src="{{base.imagelogo.url}}" alt="">
                                            <img class="logo-2" src="{{base.imagelogo.url}}" alt="">
                                        
                                    </div>
                                    <!-- logo close -->
                                </div>
                            </div>
                            <div class="de-flex-col header-col-mid">
                                <ul id="mainmenu">
                                    <li><a class="menu-item" href="{% url 'Appli:accueil' %}">ACCUEIL</a>
                                        
                                    </li>
                                    <li><a class="menu-item" href="{% url 'Appli:cars' %}">VEHICULE</a>
                                        <ul>
                                            <li><a class="menu-item" href="{% url 'Appli:cars' %}">LISTE DE VEHICULE</a></li>
                                            
                                        </ul>
                                    </li>
                                    <li><a class="menu-item" href="{% url 'Appli:reser' %}">RESERVER</a>
                                        
                                    </li>
                                     <li><a class="menu-item" href="{% url 'Appli:commandes' %}">MES RESERVATIONS</a>
                                        <ul>
                                            <li><a class="menu-item" href="{% url 'Appli:historique_reservations' %}">Historique des reservations</a></li>
                                            
                                        </ul>  




        <!-- content begin -->
        <div class="no-bottom no-top zebra" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="jarallax text-light">
                <img src="{% static 'assets/images/background/2.jpg'%}" class="jarallax-img" alt="">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
									<h1>Vehicule</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->

            <section id="section-cars">
                
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                           <div class="item_filter_group">
                            <h4>Vehicle Type</h4>
                            <form method="get" action="">
                                <div class="de_form">
                                    {% for type in types_vehicules %}
                                    <div class="de_checkbox">
                                        <input 
                                            id="vehicle_type_{{ forloop.counter }}" 
                                            name="types" 
                                            type="checkbox" 
                                            value="{{ type }}"
                                            {% if type in selected_types %}checked{% endif %}
                                        >
                                        <label for="vehicle_type_{{ forloop.counter }}">{{ type }}</label>
                                    </div>
                                    {% endfor %}
                                </div>
                                <button type="submit" class="btn btn-primary mt-3">Filtrer</button>
                            </form>
                        </div>


                        </div>

                        <div class="col-lg-9">
                            <div class="row">
                            {% for voiture in vehicules %}
                                <div class="col-lg-12">
                                    <div class="de-item-list mb30">
                                        <div class="d-img">
                                            <img src="{{ voiture.image.url }}" class="img-fluid" alt="">
                                        </div>
                                        <div class="d-info">
                                            <div class="d-text">
                                                <h4>{{voiture.marque}} {{voiture.modele}}</h4>
                                                <div class="d-atr-group">
                                                   {% if voiture.caracteristiques %}
                                                    <ul class="d-atr">
                                                        <li><span>Sièges:</span>{{ voiture.caracteristiques.nombre_sieges }}</li>
                                                        <li><span>Portes:</span>{{ voiture.caracteristiques.nombre_portes }}</li>
                                                        <li><span>Carburant:</span>{{ voiture.caracteristiques.carburant }}</li>
                                                        <li><span>Boîte:</span>{{ voiture.caracteristiques.transmission }}</li>
                                                        <li><span>Vitesse maximum:</span>{{voiture.caracteristiques.vitesse_max}}KM/HEURE</li>
                                                        <li><span>Climatisation:</span>{% if voiture.caracteristiques.climatisation %}Oui{% else %}Non{% endif %}</li>
                                                        <li><span>Consommation:</span>{{voiture.caracteristiques.consommation}}L/100KM</li>
                                                    </ul>
                                                    {% endif %}

                                                   
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-price">
                                            Prix par jour <span>{{voiture.prix_par_jour}}</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
                
            </section>
			
			
        </div>
        <!-- content close -->
           <footer class="text-light">
            {% for base in bases %}
            <div class="container">
                <div class="row g-custom-x">
                    <div class="col-lg-3">
                        <div class="widget">
                            <h5 style="text-transform: uppercase;">à propos de ADOU aUTO</h5>
                            <p>{{base.about}}</p>
                        </div>
                    </div>
                    
                    <div class="col-lg-3">
                        <div class="widget">
                            <h5>Contact Info</h5>
                            <address class="s1">
                                <span><i class="id-color fa fa-map-marker fa-lg"></i>{{base.localisation}}</span>
                                <span><i class="id-color fa fa-phone fa-lg"></i>{{base.numero}}</span>
                                <span><i class="id-color fa fa-envelope-o fa-lg"></i>[{{base.email}}]</span></span
                            </address>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <h5>Liens rapides</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="widget">
                                    <ul>
                                        <li><a href="{% url 'Appli:propos' %}">A propos</a></li>
                                        <li><a href="{% url 'Appli:reser' %}">Reservation</a></li>
                                        <li><a href="{% url 'Appli:accueil' %}">Accueil</a></li>
                                        <li><a href="{% url 'Appli:cars' %}">vehecules</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="widget">
                            <h5>Reseaux sociaux</h5>
                            <div class="social-icons">
                                <a href="index.html#"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="index.html#"><i class="fa fa-twitter fa-lg"></i></a>
                                <a href="index.html#"><i class="fa fa-linkedin fa-lg"></i></a>
                                <a href="index.html#"><i class="fa fa-pinterest fa-lg"></i></a>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="subfooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="de-flex">
                                <div class="de-flex-col">
                                    <a href="index.html">
                                        Copyright 2025 - Location par ADOU AUTO
                                    </a>
                                </div>
                                <ul class="menu-simple">
                                    <li><a href="">Terms &amp; Conditions</a></li>
                                    <li><a href="">Politique de confidentialité</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             {% endfor %}
        </footer>

        <a href="cars-list.html#" id="back-to-top"></a>
       
        
    </div>

    <!-- Javascript Files
    ================================================== -->
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="{% static 'assets/js/plugins.js'%}"></script>
    <script src="{% static 'assets/js/designesia.js'%}"></script>

    {% endblock %}